.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    margin: 10px auto;
    padding-bottom: 25px;
}

.campground {
    text-align: center;
}