.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    margin: 10px auto;
}

.campground {
    text-align: center;
}