.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 15.625rem;

    border: 1px solid magenta;
}

.card__image {
    width: 100%;
    height: 100%;
    /* border: 1px solid lawngreen; */
}

.card__text {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 1.25rem;
    /* border: 1px solid purple; */
}